*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(22,87,113);
    background: linear-gradient(120deg, rgba(22,87,113,1) 4%, rgba(88,61,177,1) 29%, rgba(73,157,177,1) 50%, rgba(104,168,213,1) 59%, rgba(112,134,223,1) 64%);
}

/* Main */
.main_block{
    width: 500px;
    height: 882px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 65px 55px 55px 55px;
}
.second_block{
    width: 390px;
    margin: auto;
    
}

.span_login{
    display: block;
    font-size: 39px;
    text-align: center;
    margin-bottom: 50px;
}

/* Username */
.username{
    width: 100%;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 50px;
}
.span_user, .span_pass{
    padding-left: 7px;
}
input{
    outline: none;
    border: none;
}
.user_inp{
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: 0 0;
    padding: 0 7px 0 43px;
    background: no-repeat url(../images/user.png) 5px;
}
.user_inp::placeholder{
    font-weight:550;
}
/* Password */
.password{
    width: 100%;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 10px;
}
.pass_inp{
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: 0 0;
    padding: 0 7px 0 43px;
    background: no-repeat url(../images/padlock.png) 5px;
}
.pass_inp::placeholder{
    font-weight:550;
}
/* Forgot */
.forgot{
    width: 100%;
    margin-bottom: 35px;
}
.sign{
    display: block;
    text-decoration: none;
    color: #333;
    text-align: right;
}
.sign:hover{
    color: rgb(10, 108, 193);
}
/* Button */
.button{
    width: 100%;
}
button{
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    background: linear-gradient(120deg, rgba(22,87,113,1) 4%, rgba(88,61,177,1) 29%, rgba(73,157,177,1) 50%, rgba(104,168,213,1) 59%, rgba(112,134,223,1) 64%);;
}
