<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Login</title>
</head>
<body>
    <div class="main_block">
        <div class="second_block">
            <form action="/login" method="POST">
                <span class="span_login">Login</span>
                <div class="username">
                    <span class="span_user">Username</span>
                    <input type="text" class="user_inp" placeholder="Type your username" name="username" value="username">
                </div>
                <div class="password">
                    <span class="span_pass">Password</span>
                    <input type="password" class="pass_inp" placeholder="Type your password" name="password" value="password">
                </div>
                <div class="forgot">
                    <a href="" class="sign">Forgot your password?</a>
                </div>
                <div class="button">
                    <button type="submit">LOGIN</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>