<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home page</title>
</head>
<body>
    <div class="all_site">
        <header>
            <section class="nav_section">
                <nav>
                    <ul class="nav_ul">
                        <li class="nav_el">
                            <a href="">SuperFood</a> 
                        </li>
                        <li class="nav_el">
                            <a href="">Recipes</a>
                        </li>
                        <li class="nav_el">
                            <a href="">Search</a>
                        </li>
                        <li class="nav_el">
                            <a href="">Profile</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </header>

        <main>
            <div class="two_blocks">
                <div class="popular_recipes">
                    <h1>Popular</h1>
                    <div class="rec_cont">
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                    </div>
                    
                </div>

                <div class="latest_recipes">
                    <h1>Latest</h1>
                    <div class="pop_cont">
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                        <div class="rec_bl">
                            <img src="/images/pizza.jpg" alt="" class="img_block">
                            <p style="margin-bottom: 5px;">Italian pizza</p> 
                            <p>Delisious pizza from Italy</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Categories">
                <h1>Categories</h1>
                <div class="cat_cont">

                </div>

            </div>
        </main>
        <footer>
            <p class="foot_el">SuperFood Inc.</p>
            <p class="foot_el">By Chelbaev Daniel</p>
            <p class="foot_el">Movavi School</p>
        </footer>
    </div>

</body>
</html>