<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Main Page</title>
</head>
<body>
    <footer>
        <div class="prew">
            <h1 id="prew_sign">All about food</h1>
        </div>
        <button class="search_button"></button>
    </footer>
    <section class="green-nav">
        <nav class="menu-nav">
            <ul>
                <li class="nav-el"><a href="">Recipes</a></li>
                <li class="nav-el"><a href="">Search</a></li>
                <li class="nav-el"><a href="">FAQ</a></li>
                <li class="nav-el"><a href="">Profile</a></li>
            </ul>
        </nav>
    </section>
    <section class="main">
        <section class="first-content" style="width: 70%;">
            <div class="content-block">
                <button class="button-share">SHARE</button>
                <a href="/recipe/blini-po-ruski"><h1>Pancakes in russian</h1></a>
                <div class="img-block">
                    <div class="img-elements time ">
                        <img src="" alt="*">
                        <p class="img-p">23.05.2022</p>
                    </div>
                    <div class="img-elements comments">
                        <img src="" alt="*">
                        <p class="img-p">0</p>
                    </div>
                    <div class="img-elements views">
                        <img src="" alt="*">
                        <p class="img-p">2.9k</p>
                    </div>
                </div>
                <div class="p-block">
                    <p class="p-block-element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aspernatur corrupti officiis numquam reiciendis possimus voluptas animi a sequi culpa debitis, maxime corporis tempora nihil nemo obcaecati. Fuga, distinctio architecto!</p>
                </div>
                <div class="el"></div>
            </div>
        </section>
        <section class="second-content">
            <h4 style="margin-bottom:5px">Searching</h4>
            <form action="post" style="display: flex;">
                <input type="text" class="search-input">
                <button type="submit" class="search-button" >Search</button>
            </form>
        </section>
    </section>
    
</body>
</html>