<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/recipe.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>{{recipe_name}}</title>
</head>
<body>
    <footer>
        <div class="prew">
            <h1 id="prew_sign">All about food</h1>
        </div>
        <button class="search_button"></button>
    </footer>
    <section class="green-nav">
        <nav class="menu-nav">
            <ul>
                <li class="nav-el"><a href="/main">Recipes</a></li>
                <li class="nav-el"><a href="">Search</a></li>
                <li class="nav-el"><a href="">FAQ</a></li>
                <li class="nav-el"><a href="">Profile</a></li>
            </ul>
        </nav>
    </section>
    <main>
        <h1>{{recipe_name}}</h1>
        <div class="pfc">
            <div class="prot">
                <p class="p-pfc">Proteins</p>
                <p>{{proteins}}</p>
            </div>
            <div class="fats">
                <p class="p-pfc">Fats</p>
                <p>{{fats}}</p>
            </div>
            <div class="carb">
                <p class="p-pfc">carbohydrates</p>
                {{carbohydrates}}
            </div>
        </div>
    <section>
        <h2>Recipe</h2>
        <p class="rec_text">{{recipe_text}}</p>
    </section>
    <div>{{date}}</div>
    <div>{{author}}</div>
    </main>
    
</body>
</html>