<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/regist.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="main_block">
        <div class="second_block">
            <form action="/signup" method="POST">
                <span class="span_login">Registration</span>
                <div class="username">
                    <span class="span_user">Username</span>
                    <input type="text" class="user_inp" placeholder="Type your username" name="username">
                </div>
                <div class="username">
                    <span class="span_user">E-mail</span>
                    <input type="email" class="e-mail " placeholder="Type your e-mail" name="email">
                </div>
                <div class="username">
                    <span class="span_user">Name</span>
                    <input type="text" class="user_inp" placeholder="Type your name" name="name">
                </div>
                <div class="password">
                    <span class="span_pass">Password</span>
                    <input type="password" class="pass_inp" placeholder="Type your password" name="password">
                </div>
                <div class="password">
                    <span class="span_pass">Repeat password</span>
                    <input type="password" class="pass_inp" placeholder="Repeat your password" name="rpt_password">
                </div>
                <div class="button">
                    <button type="submit">SIGN UP</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>